# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    tags:
      - '*'
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    name: Build with linux toolchain
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Cross-build the project using the container
      - name: linux tool compile using the container
        uses: addnab/docker-run-action@v3
        with:
          image: dockerhy/linux-dbg:latest
          options: --rm -v ${{ github.workspace }}:/usr/src/myapp -w /usr/src/myapp
          run: |
            make | tee build_linux.log
      - name: dos tool compile using the container
        uses: addnab/docker-run-action@v3
        with:
          image: dockerhy/watcom-docker:latest
          options: --rm -v ${{ github.workspace }}:/usr/src/myapp -w /usr/src/myapp
          run: |
            wmake -f makefile_watcom | tee build_dos.log          
      - name: Tar files
        run: tar -czvf glendbg.tar.gz ./*.exe ./*.ini
      - name: Archive glendbg
        uses: actions/upload-artifact@v3
        with:
          name: glendbg
          path: |
            glendbg.tar.gz
            build_linux.log
            build_dos.log
